.home-page {
    position: relative;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('first.jpg');
    background-size: cover;
    filter: brightness(50%); /* You can adjust the brightness if needed */
  }
  
  .content {
    text-align: center;
    color: white;
    z-index: 1; /* Ensure content is above the background */
  }
  
  .options {
    margin-top: 20px;
  }
  
  .option {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #3498db; /* Adjust the color as needed */
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }


  .btn btn-outline-primary{
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 18px;

  }
  